@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-[#292221] text-white;
  }
  .tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 1.5rem;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
  